{{define "auth/login"}}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- login35:54 -->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <head>
    <!-- META DATA -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Zanex – PHP Bootstrap  Admin & Dashboard Template"
    />
    <meta name="author" content="Spruko Technologies Private Limited" />
    <meta
      name="keywords"
      content="admin, dashboard, admin dashboard, admin template, crypto, crypto dashboard, sales dashboard, bootstrap 5 admin template, ecommerce template, ecommerce dashboard, responsive dashboard, admin panel, bootstrap 5 admin dashboard, cryptocurrency dashboard, bootstrap dashboard, multi dashboard, html, responsive, responsive admin, bootstrap admin template, dashboard template, bootstrap"
    />

    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/template_new/images/brand/favicon.png"
    />

    <!-- TITLE -->
    <title>GO Mitravalas</title>

    <!-- BOOTSTRAP CSS -->
    <link
      id="style"
      href="/assets/template_new/plugins/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- STYLE CSS -->
    <link href="/assets/template_new/css/style.css?v=1" rel="stylesheet" />
    <link href="/assets/template_new/css/plugins.css" rel="stylesheet" />

    <!--- FONT ICONS CSS -->
    <link href="/assets/template_new/css/icons.css?v=1" rel="stylesheet" />
  </head>

  <body class="login-img">
    <!-- BACKGROUND-IMAGE -->
    <div>
      <!-- GLOABAL LOADER -->
      <div id="global-loader">
        <img
          src="/assets/template_new/images/loader.svg"
          class="loader-img"
          alt="Loader"
        />
      </div>
      <!-- /GLOABAL LOADER -->

      <!-- PAGE -->
      <div class="login-page">
        <div>
          <!-- CONTAINER OPEN -->
          <div class="col col-login mx-auto mt-8">
            <div class="text-center">
              <img
                src="/assets/template_new/images/brand/logo.png"
                class="header-brand-img"
                alt=""
              />
            </div>
          </div>
          <div class="container-login100">
            <div class="wrap-login100 p-0 mt-5">
              <div class="card-body">
                <form class="login100-form" method="POST" action="/login">
                  {{template "components/_alert" .}}

                  <div class="wrap-input100">
                    <input
                      class="input100"
                      type="email"
                      name="email"
                      placeholder="Email"
                      required
                    />

                    <span class="symbol-input100">
                      <i class="zmdi zmdi-email" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="wrap-input100">
                    <input
                      class="input100"
                      type="password"
                      required
                      name="password"
                      placeholder="Password"
                    />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                      <i class="zmdi zmdi-lock" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="container-login100-form-btn">
                    <button class="login100-form-btn btn-primary" type="submit">
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- CONTAINER CLOSED -->
        </div>
      </div>
      <!-- END PAGE -->
    </div>
    <!-- BACKGROUND-IMAGE CLOSED -->

    <!-- JQUERY JS -->
    <script src="/assets/template_new/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="/assets/template_new/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/template_new/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- PERFECT SCROLLBAR JS -->
    <script src="/assets/template_new/plugins/p-scroll/perfect-scrollbar.js"></script>

    <!-- COLOR THEME JS -->
    <script src="/assets/template_new/js/themeColors.js"></script>

    <!-- SWITCHER STYLES JS -->
    <script src="/assets/template_new/js/swither-styles.js"></script>

    <!-- CUSTOM JS -->
    <script src="/assets/template_new/js/custom.js"></script>
  </body>

  <!-- login35:54 -->
</html>

{{end}}
