{{define "dashboard/index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "_header" .}}
  </head>
  <body class="app sidebar-mini ltr light-mode">
    {{template "_switcher" .}}

    <!-- PAGE -->
    <div class="page">
      <div class="page-main">
        <!-- APP-HEADER / Topbar -->
        {{template "_topbar" .}}
        <!-- /APP-HEADER -->

        <!--APP-SIDEBAR-->
        {{template "_sidebar" .}}
        <!--/APP-SIDEBAR-->

        <!-- APP-CONTENT OPEN -->
        <div id="base-content" style="padding-top: 20px"></div>
        <!-- APP-CONTENT END -->
      </div>

      {{template "_copyright" .}}
    </div>

    {{template "_footer" .}}
  </body>
</html>
{{end}}
