{{define "_footer"}}
<!-- BUYNOW-MODAL -->
<div class="modal buynow buynow-btn">
  <div class="modal-dialog modal-lg" role="document">
    <div
      class="modal-content modal-content-demo cover-image"
      data-bs-image-src="/assets/template_new/switcher/img/16.jpg"
    >
      <div class="modal-body px-0">
        <div class="row justify-content-center py-4 px-0 mx-3 Licenses-img">
          <h3 class="text-center mb-4 text-white">Licenses</h3>
          <button
            aria-label="Close"
            class="btn-close"
            data-bs-dismiss="modal"
            type="button"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="col-sm-10 col-md-8 col-xl-5 col-lg-5">
            <div class="card border-0 regular-license">
              <div
                class="card-body imag-list cover-image"
                data-bs-image-src="/assets/template_new/switcher/img/14.jpg"
              >
                <div class="text-white">
                  <img
                    src="/assets/template_new/switcher/img/free.png"
                    alt=""
                    class="w-55 free-img"
                  />
                  <div class="text-center">
                    <div class="tx-26">
                      <span class="font-weight-medium">Regular</span>
                      Licenses
                    </div>
                    <p class="fw-semi-bold mb-sm-2 mb-0">
                      You
                      <span class="text-success font-weight-semibold"
                        >can't charge
                      </span>
                      from your <br /><span class="op-8"
                        >End Product End Users</span
                      >
                    </p>
                    <div class="dropdown">
                      <button
                        class="btn btn-info w-lg dropdown-toggle mt-1"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Buy Now
                      </button>
                      <div class="dropdown-menu py-0">
                        <a
                          class="dropdown-item border-bottom px-3"
                          target="_blank"
                          href="https://1.envato.market/rn5DQG"
                        >
                          <div>
                            <p class="tx-14 mb-0 lh-xs font-weight-semibold">
                              Buy Now
                            </p>
                            <span class="tx-12 op-7">6 months support</span>
                          </div>
                        </a>
                        <a
                          class="dropdown-item px-3"
                          target="_blank"
                          href="https://1.envato.market/yR7y02"
                        >
                          <div>
                            <p class="tx-14 mb-0 lh-xs font-weight-semibold">
                              Buy Now
                            </p>
                            <span class="tx-12 op-7">12 months support</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-10 col-md-8 col-xl-5 col-lg-5">
            <div class="card border-0">
              <div
                class="card-body imag-list cover-image"
                data-bs-image-src="/assets/template_new/switcher/img/15.jpg"
              >
                <div class="text-white">
                  <img
                    src="/assets/template_new/switcher/img/money-bag.png"
                    alt=""
                    class="w-55 free-img"
                  />
                  <div class="text-center">
                    <div class="tx-26">
                      <span class="font-weight-medium">Extended</span>
                      Licenses
                    </div>
                    <p class="fw-semi-bold mb-sm-2 mb-0">
                      You
                      <span class="text-warning font-weight-semibold"
                        >can charge</span
                      >
                      from your <br /><span class="op-8"
                        >End Product End Users</span
                      >
                    </p>
                    <div class="dropdown">
                      <button
                        class="btn btn-info w-lg dropdown-toggle mt-1"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Buy Now
                      </button>
                      <div class="dropdown-menu py-0">
                        <a
                          class="dropdown-item border-bottom px-3"
                          target="_blank"
                          href="https://1.envato.market/jWqyrn"
                        >
                          <div>
                            <p class="tx-14 mb-0 lh-xs font-weight-semibold">
                              Buy Now
                            </p>
                            <span class="tx-12 op-7">6 months support</span>
                          </div>
                        </a>
                        <a
                          class="dropdown-item px-3"
                          target="_blank"
                          href="https://1.envato.market/MX95JK"
                        >
                          <div>
                            <p class="tx-14 mb-0 lh-xs font-weight-semibold">
                              Buy Now
                            </p>
                            <span class="tx-12 op-7">12 months support</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="license-view">
            <a
              href="https://spruko.com/licenses"
              target="_blank"
              class="modal-title text-center mb-3 tx-14 text-white"
              >View license details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END BUYNOW-MODAL -->

<!-- BACK-TO-TOP -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- BOOTSTRAP JS -->
<script src="/assets/template_new/plugins/bootstrap/js/popper.min.js"></script>
<script src="/assets/template_new/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- SIDE-MENU JS -->
<script src="/assets/template_new/plugins/sidemenu/sidemenu.js"></script>

<!-- STICKY JS -->
<script src="/assets/template_new/js/sticky.js"></script>

<!-- SIDEBAR JS -->
<script src="/assets/template_new/plugins/sidebar/sidebar.js"></script>

<!-- PERFECT SCROLLBAR JS-->
<script src="/assets/template_new/plugins/p-scroll/perfect-scrollbar.js"></script>
<script src="/assets/template_new/plugins/p-scroll/pscroll.js"></script>
<script src="/assets/template_new/plugins/p-scroll/pscroll-1.js"></script>

<!-- SPARKLINE JS-->
<script src="/assets/template_new/js/jquery.sparkline.min.js"></script>

<!-- CHART-CIRCLE JS-->
<script src="/assets/template_new/js/circle-progress.min.js"></script>

<!-- CHARTJS CHART JS-->
<script src="/assets/template_new/plugins/chart/Chart.bundle.js"></script>
<script src="/assets/template_new/plugins/chart/utils.js"></script>

<!-- PIETY CHART JS-->
<script src="/assets/template_new/plugins/peitychart/jquery.peity.min.js"></script>
<script src="/assets/template_new/plugins/peitychart/peitychart.init.js"></script>

<!-- INTERNAL SELECT2 JS -->
<script src="/assets/template_new/plugins/select2/select2.full.min.js"></script>

<!-- INTERNAL DATA TABLES JS -->
<script src="/assets/template_new/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="/assets/template_new/plugins/datatable/js/dataTables.bootstrap5.js"></script>
<script src="/assets/template_new/plugins/datatable/dataTables.responsive.min.js"></script>

<!-- ECHART JS-->
<script src="/assets/template_new/plugins/echarts/echarts.js"></script>

<!-- APEXCHART JS -->
<script src="/assets/template_new/js/apexcharts.js"></script>

<!-- INDEX JS -->
<script src="/assets/template_new/js/index1.js"></script>

<!-- COLOR THEME JS -->
<script src="/assets/template_new/js/themeColors.js"></script>

<!-- SWITCHER STYLES JS -->
<script src="/assets/template_new/js/swither-styles.js"></script>

<!-- CUSTOM JS -->
<script src="/assets/template_new/js/custom.js"></script>

<!-- SWITCHER JS -->
<script src="/assets/template_new/switcher/js/switcher.js"></script>

<!-- Our Custom Js -->
<script>
  $(document).ready(function () {
    $(".select2").select2();
  });
  $(document).on("select2:open", () => {
    document.querySelector(".select2-search__field").focus();
  });
  var genericExamples = document.querySelectorAll(".have-select");
  for (i = 0; i < genericExamples.length; ++i) {
    var element = genericExamples[i];
    new Choices(element, {
      // allowHTML: true,
      placeholderValue: "",
      searchPlaceholderValue: "Search..",
    });
  }

  $(document).ready(function () {
    $(".have-select2").select2();
  });
</script>

<!-- <script>
  function showLoadingPage() {
    $("#global-loader").removeClass("d-none");
    $("#global-loader").addClass("d-block");
  }

  function hideLoadingPage() {
    $("#global-loader").removeClass("d-block");
    $("#global-loader").addClass("d-none");
  }

  function removeActiveButtonTopbarTransactions() {
    $("#btn-topbar-sell").removeClass("btn-sell-active");
    $("#btn-topbar-buy").removeClass("btn-buy-active");
  }

  function makeActiveButtonTopbarTransaction(url_request) {
    // Membuat URL object
    let url = new URL(url_request);

    // Mendapatkan pathname
    let pathname = url.pathname;

    removeActiveButtonTopbarTransactions();

    if (pathname == "/sale/create") {
      $("#btn-topbar-sell").addClass("btn-sell-active");
    } else if (pathname == "/purchase/create") {
      $("#btn-topbar-buy").addClass("btn-buy-active");
    }
  }

  function loadpage(uri, ubah, scroll = 1, loader = 1) {
    if (scroll == 1) {
      $("html, body").animate(
        {
          scrollTop: 0,
        },
        "swing"
      );
    }
    if (loader == 1) {
      showLoadingPage();
    }
    $.ajax({
      type: "get",
      url: uri,
      success: function (result) {
        $("#" + ubah).html(result);
        hideLoadingPage();
      },
      error: function (xhr, ajaxOptions, thrownError) {
        hideLoadingPage();
        Swal.fire({
          title: "Error Load Page!",
          text: "Connection timeout, page not loaded, Please Reload Page Or Click OK to rederect manualy",
          icon: "error",
        }).then((result) => {
          window.location.href = uri;
        });
      },
    });
  }

  function removeAllMenuActive() {
    let side_menu_items = document.querySelectorAll("a.side-menu__item");
    side_menu_items.forEach((el, i) => {
      el.classList.remove("active");
      el.parentElement.classList.remove("active");
    });
  }

  function makeThisMenuActive(el) {
    el.classList.add("active");
    el.parentElement.classList.add("active");
  }

  function globalSubmitForm(
    el,
    url_reload = null,
    url_submit_request = null,
    form_data_request = null
  ) {
    // Prevent Default
    this.event.preventDefault();

    // Create Need Variable
    let url_submit =
      url_submit_request == null
        ? el.getAttribute("action")
        : url_submit_request;
    let form_data =
      form_data_request == null ? new FormData(el) : form_data_request;
    let method = el.getAttribute("method").toUpperCase();

    // Jika Method nya post
    if (method == "POST") {
      // Call Ajax Request
      showLoadingPage();
      $.ajax({
        url: url_submit,
        headers: {
          "X-CSRF-TOKEN": "<?= csrf_token() ?>",
        },
        method: method,
        data: form_data,
        processData: false,
        contentType: false,
        success: (res) => {
          // console.log(res)
          hideLoadingPage();
          if (res.status == true) {
            if (url_reload != null) {
              // Jika Ada Url Reload, Maka Re Render page url nya
              loadpage(url_reload, "base-content");
              // Push State Url
              history.pushState("", "", url_reload);
              // cari  semua modal dan close
              const allModal = document.querySelectorAll(".modal");
              allModal.forEach((el) => {
                const modalId = el.getAttribute("id");
                $("#" + modalId).modal("hide");
              });
            } else {
              if ("url_redirect" in res.data) {
                // Re render page
                loadpage(res.data.url_redirect, "base-content");
                history.pushState("", "", res.data.url_redirect);
              }
            }
          } else {
            Swal.fire({
              icon: "error",
              text: res.error,
              title: res.msg,
            });
          }
        },
        error: (err) => {
          // Jika Gagal
          hideLoadingPage();
          errJson = err.responseJSON;
          if (err.status == 500) {
            Swal.fire({
              icon: "error",
              text: errJson.error,
              title: errJson.msg,
            });
          } else {
            Swal.fire({
              icon: "warning",
              text: errJson.error,
              title: errJson.msg,
            });
          }
        },
      });
    } else if (method == "GET") {
      // Re render page
      const new_url_load = url_submit + "?" + $(el).serialize();
      loadpage(new_url_load, "base-content");
      // Push State Url
      history.pushState("", "", new_url_load);
      // cari  semua modal dan close
      const allModal = document.querySelectorAll(".modal");
      allModal.forEach((el) => {
        const modalId = el.getAttribute("id");
        $("#" + modalId).modal("hide");
      });
    } else {
      Swal.fire({
        icon: "error",
        text:
          "Your Request Method : " +
          method +
          " To Url :" +
          url_submit +
          " Not Found!",
        title: "Method / Url Not Found!",
      });
    }
  }

  function globalSubmitATag(el, confirm_msg = null, url_reload = null) {
    // Prevent Default
    this.event.preventDefault();
    let cnfrm = false;
    if (confirm_msg != null) {
      cnfrm = confirm(confirm_msg);
    }
    if (cnfrm) {
      let url_submit = el.getAttribute("href");
      showLoadingPage();
      $.ajax({
        type: "GET",
        url: url_submit,
        success: (res) => {
          hideLoadingPage();
          if (res.status) {
            if (url_reload) {
              // Re render page
              loadpage(url_reload, "base-content", 0, 0);
              history.pushState("", "", url_reload);
            }
            if ("url_redirect" in res.data) {
              // Re render page
              loadpage(res.data.url_redirect, "base-content", 0, 0);
              history.pushState("", "", res.data.url_redirect);
            }
          } else {
            Swal.fire({
              icon: "error",
              text: res.error,
              title: res.msg,
            });
          }
        },
        error: (err) => {
          // Jika Gagal
          hideLoadingPage();
          errJson = err.responseJSON;
          if (err.status == 500) {
            Swal.fire({
              icon: "error",
              text: errJson.error,
              title: errJson.msg,
            });
          } else {
            Swal.fire({
              icon: "warning",
              text: errJson.error,
              title: errJson.msg,
            });
          }
        },
      });
    }
  }
</script>

<script>
  $(document).on("click", "a", function (e) {
    let ajax = $(this).attr("ajax");
    href = $(this).attr("href");
    let isSidebar = this.classList.contains("side-menu__item");

    if (isSidebar) {
      removeAllMenuActive();
      makeThisMenuActive(this);
    }

    if (ajax != "off") {
      e.preventDefault();

      makeActiveButtonTopbarTransaction(href);

      loadpage(href, "base-content");
      history.pushState("", "", href);
    }
  });

  $(document).on("click", "button.btn-delete", function (e) {
    e.preventDefault();
    const urlDelete = $(this).closest("form").attr("action");
    const reRenderPage = $(this).hasClass("delete-rerender");
    const urlNow = $(this).attr("deleteredirecturl")
      ? $(this).attr("deleteredirecturl")
      : location.pathname;

    // Confirmation
    Swal.fire({
      title: "Delete Data?",
      icon: "question",
      showCancelButton: true,
      confirmButtonText: "Yes, Delete",
    }).then((result) => {
      if (result.isConfirmed) {
        // Call Ajax Delete
        showLoadingPage();
        $.ajax({
          type: "DELETE",
          url: urlDelete,
          headers: {
            "X-CSRF-TOKEN": "<?= csrf_token() ?>",
          },
          success: (res) => {
            // Jika Berhasil
            hideLoadingPage();
            if (!reRenderPage) {
              // Hapus tr
              $(this).closest("tr").remove();
            } else {
              // Re render ajax page
              loadpage(urlNow, "base-content", 0, 0);
              history.pushState("", "", urlNow);
            }
          },
          error: (err) => {
            // console.log(err.responseJSON);
            // Jika Gagal
            hideLoadingPage();
            Swal.fire({
              icon: "error",
              text: "Something Error!",
              title: "Failed Delete Data",
            });
          },
        });
      }
    });
  });

  window.onpopstate = function (event) {
    showLoadingPage();
    let refresh_page_urls = [
      // '/sale/create',
      // '/purchase/create'
    ];
    let fullPath = location.pathname + location.search;

    if (!refresh_page_urls.includes(location.pathname)) {
      let arrModule = location.pathname.split("/");
      removeAllMenuActive();
      if (arrModule[1] != "") {
        $("#mod-" + arrModule[1]).addClass("active");
        $("#mod-" + arrModule[1] + " a").addClass("active");
        const elem = document.getElementById("mod-" + arrModule[1]);
        elem.scrollIntoView({
          behavior: "smooth",
          block: "center",
          inline: "start",
        });
      } else {
        $("#mod-dashboard").addClass("active");
        $("#mod-dashboard a").addClass("active");
        document.getElementById("mod-dashboard").focus();
      }
      loadpage(fullPath, "base-content");
    } else {
      window.location.href = fullPath;
    }
  };
</script> -->
{{end}}
