{{define "_header"}}
<!-- META DATA -->
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=0"
/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="description"
  content="Zanex – PHP Bootstrap5  Admin & Dashboard Template"
/>
<meta name="author" content="Spruko Technologies Private Limited" />
<meta
  name="keywords"
  content="admin, dashboard, admin dashboard, admin template, crypto, crypto dashboard, sales dashboard, bootstrap 5 admin template, ecommerce template, ecommerce dashboard, responsive dashboard, admin panel, bootstrap 5 admin dashboard, cryptocurrency dashboard, bootstrap dashboard, multi dashboard, html, responsive, responsive admin, bootstrap admin template, dashboard template, bootstrap"
/>

<!-- FAVICON -->
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="/assets/template_new/images/brand/favicon.png"
/>

<!-- TITLE -->
<title>
  Go Mitravalas {{.Title}}
</title>

<!-- BOOTSTRAP CSS -->
<link
  id="style"
  href="/assets/template_new/plugins/bootstrap/css/bootstrap.min.css"
  rel="stylesheet"
/>

<!-- STYLE CSS -->
<link href="/assets/template_new/css/style.css?v=1" rel="stylesheet" />
<link href="/assets/template_new/css/plugins.css" rel="stylesheet" />

<!--- FONT-ICONS CSS -->
<link href="/assets/template_new/css/icons.css?v=1" rel="stylesheet" />

<!-- INTERNAL SWITCHER CSS -->
<link href="/assets/template_new/switcher/css/switcher.css" rel="stylesheet" />
<link href="/assets/template_new/switcher/demo.css" rel="stylesheet" />

<!-- OTHER PLUGINS -->
<!-- JQUERY JS -->
<script src="/assets/template_new/js/jquery.min.js"></script>

<!-- Choices js -->
<script src="/assets/plugins/choices.js/public/assets/scripts/choices.min.js"></script>
<link
  rel="stylesheet"
  href="/assets/plugins/choices.js/public/assets/styles/choices.min.css"
/>

<!-- Select2 -->
<link rel="stylesheet" href="/assets/plugins/select2/select2.min.css" />
<script src="/assets/plugins/select2/select2.min.js"></script>

<!-- Sweetalert -->
<script src="/assets/plugins/sweetalert/sweetalert2.js"></script>

<!-- Quill -->
<link href="/assets/plugins/quill/quill.snow.css" rel="stylesheet" />
<script src="/assets/plugins/quill/highlight.min.js"></script>
<script src="/assets/plugins/quill/quill.js"></script>
<link rel="stylesheet" href="/assets/plugins/quill/atom-one-dark.min.css" />
<script src="/assets/plugins/quill/katex.min.js"></script>
<link rel="stylesheet" href="/assets/plugins/quill/katex.min.css" />

<!-- Global Custom Script -->
<script>
  // Global Function
  /* Fungsi formatRupiah */
  function GlobalFormatRupiah(angka) {
    var number_string = angka.replace(/[^,\d]/g, "").toString(),
      split = number_string.split(","),
      sisa = split[0].length % 3,
      rupiah = split[0].substr(0, sisa),
      ribuan = split[0].substr(sisa).match(/\d{3}/gi);

    // tambahkan titik jika yang di input sudah menjadi angka ribuan
    if (ribuan) {
      separator = sisa ? "." : "";
      rupiah += separator + ribuan.join(".");
    }

    rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
    // return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    return rupiah;
  }

  // Fungsi Reverse Format Rupiah
  function GlobalReverseFormatrupiah(angka) {
    // Ganti titik dengan kosong (hapus pemisah ribuan)
    let stringWithoutThousandsSeparator = angka.replace(/\./g, "");

    // Ganti koma dengan titik (ubah pemisah desimal)
    let stringWithDotDecimal = stringWithoutThousandsSeparator.replace(
      ",",
      "."
    );

    // Ubah string menjadi float
    let floatNumber = parseFloat(stringWithDotDecimal);

    return floatNumber;
  }

  // Fungsi Replace titik ke koma
  function GlobalReplaceDotToComa(string_angka) {
    return string_angka.replace(".", ",");
  }

  // Fungsi Replace koma ke titik
  function GlobalReplaceComaToDot(string_angka) {
    return string_angka.replace(",", ".");
  }
</script>

<!-- Custome Style -->
<style>
  body.dark-mode .choices__inner {
    background: #26263e !important;
  }

  body.dark-mode .choices__list.choices__list--dropdown {
    background: #26263e !important;
  }

  body.dark-mode .choices__input {
    background: #26263e !important;
  }

  body.dark-mode
    .choices__item.choices__item--choice.is-selected.choices__item--selectable.is-highlighted {
    background: rgba(55, 55, 73, 0.9) !important;
  }

  .btn-buy-active {
    color: #fff !important;
    background-color: rgb(1, 184, 255, 1) !important;
    border-color: rgb(1, 184, 255, 1) !important;
  }
  .btn-buy-active i.fa {
    color: #fff !important;
  }

  .btn-sell-active {
    color: #fff !important;
    background-color: rgb(98, 89, 202, 1) !important;
    border-color: rgb(98, 89, 202, 1) !important;
  }
  .btn-sell-active i.fa {
    color: #fff !important;
  }
</style>
{{end}}
