{{define "_sidebar"}}
<div class="sticky">
  <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
  <aside class="app-sidebar">
    <div class="side-header">
      <a class="header-brand1" href="/">
        <img
          src="/assets/template_new/images/brand/logo.png"
          class="header-brand-img desktop-logo"
          alt="logo"
        />
        <img
          src="/assets/template_new/images/brand/logo.png"
          class="header-brand-img toggle-logo"
          alt="logo"
        />
        <img
          src="/assets/template_new/images/brand/logo-1.png"
          class="header-brand-img light-logo"
          alt="logo"
        />
        <img
          src="/assets/template_new/images/brand/logo.png"
          class="header-brand-img light-logo1"
          alt="logo"
        />
      </a>
      <!-- LOGO -->
    </div>
    <div class="main-sidemenu">
      <div class="slide-left disabled" id="slide-left">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#7b8191"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
          />
        </svg>
      </div>

      <ul class="side-menu">
        <!-- Dashboard -->
        <li class="sub-category">
          <h3>Dashboard</h3>
        </li>
        <li id="mod-dashboard" class="slide">
          <a href="/" class="side-menu__item">
            <span class="shape1"></span>
            <span class="shape2"></span>
            <i class="ri-home-6-line side-menu__icon"></i>
            <span class="side-menu__label"> Dashboard </span>
          </a>
        </li>
        <!-- End Dashboard -->

        <!-- User -->
        <li id="mod-users" class="slide">
          <a href="/user" class="side-menu__item">
            <span class="shape1"></span>
            <span class="shape2"></span>
            <i class="ri-group-line side-menu__icon"></i>
            <span class="side-menu__label"> User </span>
          </a>
        </li>
        <!-- End User -->
      </ul>
      <div class="slide-right" id="slide-right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#7b8191"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
          />
        </svg>
      </div>
    </div>
  </aside>
</div>

{{end}}
