{{define "_switcher"}}
<!-- SWITCHER -->
<div class="switcher-wrapper">
  <div class="demo_changer">
    <div class="form_holder sidebar-right1">
      <div class="row">
        <div class="predefined_styles">
          <!-- <div class="swichermainleft text-center">
            <div class="p-3 d-grid gap-2">
              <a
                href="https://php.spruko.com/zanex"
                class="btn ripple btn-primary mt-0"
                >View Demo</a
              >
              <a
                href="#"
                data-bs-target=".buynow-btn"
                data-bs-toggle="modal"
                class="btn ripple btn-secondary"
                >Buy Now</a
              >
              <a
                href="https://themeforest.net/user/spruko/portfolio"
                class="btn ripple btn-red"
                >Our Portfolio</a
              >
            </div>
          </div> -->
          <div class="swichermainleft">
            <h4>Theme Style</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">Light Theme</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch7"
                      id="myonoffswitch6"
                      class="onoffswitch2-checkbox"
                      checked
                    />
                    <label
                      for="myonoffswitch6"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex">
                  <span class="me-auto">Dark Theme</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch7"
                      id="myonoffswitch7"
                      class="onoffswitch2-checkbox"
                      checked
                    />
                    <label
                      for="myonoffswitch7"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft">
            <h4>Theme Color</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">Primary Color</span>
                  <div class="">
                    <input
                      class="input-color-picker color-primary-light"
                      value="#6259ca"
                      id="colorID"
                      oninput="changePrimaryColor()"
                      type="color"
                      data-id="bg-color"
                      data-id1="bg-hover"
                      data-id2="bg-border"
                      name="lightPrimary"
                    />
                  </div>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Background Color</span>
                  <div class="">
                    <input
                      class="input-bg-picker background-primary-light"
                      value="#30304d"
                      id="bgID"
                      oninput="changeBackgroundColor()"
                      type="color"
                      data-id3="body"
                      data-id4="theme"
                      name="BackgroundPrimary"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft">
            <h4>Navigation Style</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">Vertical Menu</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch15"
                      id="myonoffswitch1"
                      class="onoffswitch2-checkbox"
                      checked
                    />
                    <label
                      for="myonoffswitch1"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Horizontal Click Menu</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch15"
                      id="myonoffswitch2"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch2"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Horizontal Hover Menu</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch15"
                      id="myonoffswitch111"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch111"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft">
            <h4>LTR and RTL VERSIONS</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">LTR Version</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch8"
                      id="myonoffswitch4"
                      class="onoffswitch2-checkbox"
                      checked
                    />
                    <label
                      for="myonoffswitch4"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">RTL Version</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch8"
                      id="myonoffswitch5"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch5"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft menu-style">
            <h4>Header Styles</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle lightHeader d-flex">
                  <span class="me-auto">Light Header</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch3"
                      id="myonoffswitch8"
                      class="onoffswitch2-checkbox"
                      checked
                    />
                    <label
                      for="myonoffswitch8"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle colorHeader d-flex mt-2">
                  <span class="me-auto">Color Header</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch3"
                      id="myonoffswitch9"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch9"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle darkHeader d-flex mt-2">
                  <span class="me-auto">Dark Header</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch3"
                      id="myonoffswitch10"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch10"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>

                <div class="switch-toggle darkHeader d-flex mt-2">
                  <span class="me-auto">Gradient Header</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch3"
                      id="myonoffswitch11"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch11"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft menu-style">
            <h4>Menu Styles</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle lightMenu d-flex">
                  <span class="me-auto">Light Menu</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch2"
                      id="myonoffswitch12"
                      class="onoffswitch2-checkbox"
                      checked
                    />
                    <label
                      for="myonoffswitch12"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle colorMenu d-flex mt-2">
                  <span class="me-auto">Color Menu</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch2"
                      id="myonoffswitch13"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch13"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle darkMenu d-flex mt-2">
                  <span class="me-auto">Dark Menu</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch2"
                      id="myonoffswitch14"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch14"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle gradientMenu d-flex mt-2">
                  <span class="me-auto">Gradient Menu</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch2"
                      id="myonoffswitch15"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch15"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft">
            <h4>Layout Width Styles</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">Full Width</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch4"
                      id="myonoffswitch16"
                      class="onoffswitch2-checkbox"
                      checked
                    />
                    <label
                      for="myonoffswitch16"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Boxed</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch4"
                      id="myonoffswitch17"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch17"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft">
            <h4>Layout Positions</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">Fixed</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch5"
                      id="myonoffswitch18"
                      class="onoffswitch2-checkbox"
                      checked
                    />
                    <label
                      for="myonoffswitch18"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Scrollable</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch5"
                      id="myonoffswitch19"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch19"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft leftmenu-styles">
            <h4>Sidemenu layout Styles</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">Default Menu</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch6"
                      id="myonoffswitch20"
                      class="onoffswitch2-checkbox default-menu"
                      checked
                    />
                    <label
                      for="myonoffswitch20"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Icon with Text</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch6"
                      id="myonoffswitch22"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch22"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Icon Overlay</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch6"
                      id="myonoffswitch21"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch21"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Closed Sidemenu</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch6"
                      id="myonoffswitch23"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch23"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Hover Submenu</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch6"
                      id="myonoffswitch24"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch24"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Hover Submenu Style 1</span>
                  <p class="onoffswitch2">
                    <input
                      type="radio"
                      name="onoffswitch6"
                      id="myonoffswitch25"
                      class="onoffswitch2-checkbox"
                    />
                    <label
                      for="myonoffswitch25"
                      class="onoffswitch2-label"
                    ></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft">
            <h4>Reset All Styles</h4>
            <div class="skin-body">
              <div class="switch_section my-4">
                <button
                  class="btn btn-danger btn-block"
                  onclick="localStorage.clear();
                                        document.querySelector('html').style = '';
                                        names() ;
                                        resetData() ;"
                  type="button"
                >
                  Reset All
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END SWITCHER -->

<!-- GLOBAL-LOADER -->
<div id="global-loader">
  <img
    src="/assets/template_new/images/loader.svg"
    class="loader-img"
    alt="Loader"
  />
</div>
<!-- /GLOBAL-LOADER -->
{{end}}
