{{define "_topbar"}}
<div class="app-header header sticky">
  <div class="container-fluid main-container">
    <div class="d-flex align-items-center">
      <a
        aria-label="Hide Sidebar"
        class="app-sidebar__toggle"
        ajax="off"
        data-bs-toggle="sidebar"
        href="javascript:void(0);"
      ></a>
      <div class="responsive-logo">
        <a href="#" class="header-logo">
          <img
            src="/assets/template_new/images/brand/logo.png"
            height="43"
            class="mobile-logo logo-1"
            alt="logo"
          />
          <img
            src="/assets/template_new/images/brand/logo.png"
            class="mobile-logo dark-logo-1"
            alt="logo"
          />
        </a>
      </div>
      <!-- sidebar-toggle-->
      <a class="logo-horizontal" href="#" ajax="off">
        <img
          src="/assets/template_new/images/brand/logo.png"
          class="header-brand-img desktop-logo"
          alt="logo"
        />
        <img
          src="/assets/template_new/images/brand/logo-3.png"
          class="header-brand-img light-logo1"
          alt="logo"
        />
      </a>
      <!-- LOGO -->
      <div class="main-header-center ms-3 d-none d-lg-block">
        <!-- <input class="form-control" placeholder="Search for anything..." type="search" />
                <button class="btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button> -->
      </div>
      <div class="d-flex order-lg-2 ms-auto header-right-icons">
        <!-- SEARCH -->
        <button
          class="navbar-toggler navresponsive-toggler d-lg-none ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span
            class="navbar-toggler-icon fe fe-more-vertical text-dark"
          ></span>
        </button>
        <div class="navbar navbar-collapse responsive-navbar p-0">
          <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <div class="d-flex order-lg-2">
              <div class="dropdown d-md-flex">
                <a
                  href="/sale/create"
                  class="nav-link icon"
                  id="btn-topbar-sell"
                >
                  <i class="fa fa-shopping-basket"></i>
                </a>
              </div>
              <div class="dropdown d-md-flex">
                <a
                  href="/purchase/create"
                  class="nav-link icon"
                  id="btn-topbar-buy"
                >
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </div>

              <div class="dropdown d-md-flex">
                <a
                  class="nav-link icon theme-layout nav-link-bg layout-setting"
                  ajax="off"
                >
                  <span class="dark-layout"><i class="fe fe-moon"></i></span>
                  <span class="light-layout"><i class="fe fe-sun"></i></span>
                </a>
              </div>
              <!-- Theme-Layout -->
              <div class="dropdown d-md-flex">
                <a
                  class="nav-link icon full-screen-link nav-link-bg"
                  ajax="off"
                >
                  <i class="fe fe-minimize fullscreen-button"></i>
                </a>
              </div>

              <!-- MESSAGE-BOX -->
              <div class="dropdown d-md-flex profile-1">
                <a
                  href="javascript:void(0);"
                  data-bs-toggle="dropdown"
                  ajax="off"
                  class="nav-link icon leading-none d-flex px-1"
                >
                  <i class="fe fe-user"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
                >
                  <div class="drop-heading">
                    <div class="text-center">
                      <h5 class="text-dark mb-0">Nama User</h5>
                      <small class="text-muted"> Role User </small>
                    </div>
                  </div>
                  <div class="dropdown-divider m-0"></div>
                  <a class="dropdown-item" href="/logout" ajax="off">
                    <i class="dropdown-icon fe fe-alert-circle"></i>
                    Log Out
                  </a>
                </div>
              </div>
              <!-- SIDE-MENU -->
            </div>
          </div>
        </div>
        <div class="demo-icon nav-link icon border-0">
          <i class="fe fe-settings fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
</div>

{{end}}
