{{define "components/_alert"}} 
    {{ if .Error }}
        <div class="alert alert-danger">{{ .Error }}</div>
    {{end}} 

    {{ if .Success }}
        <div class="alert alert-success">{{ .Success }}</div>
    {{end}} 
{{end}}
