{{define "user/edit"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "_header" .}}
  </head>
  <body class="app sidebar-mini ltr light-mode">
    {{template "_switcher" .}}

    <!-- PAGE -->
    <div class="page">
      <div class="page-main">
        <!-- APP-HEADER / Topbar -->
        {{template "_topbar" .}}
        <!-- /APP-HEADER -->

        <!--APP-SIDEBAR-->
        {{template "_sidebar" .}}
        <!--/APP-SIDEBAR-->

        <!-- APP-CONTENT OPEN -->
        <div id="base-content" style="padding-top: 20px">
          <div class="main-content app-content mt-0">
            <div class="side-app">
              <div class="container-fluid">
                <!-- Page Header -->
                <div
                  class="d-md-flex d-block align-items-center justify-content-between page-header-breadcrumb mb-4"
                >
                  <div>
                    <h2 class="page-title fs-24 mb-1">User</h2>
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item">
                        <a href="javascript:void(0)">User</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Edit Data
                      </li>
                    </ol>
                  </div>
                  <div class="d-flex">
                    <div class="justify-content-center">
                      <a
                        href="/user"
                        class="btn btn-danger my-2 btn-icon-text d-inline-flex align-items-center"
                      >
                        <i class="ri-arrow-left-fill me-2 fs-14"></i>
                        Back
                      </a>
                    </div>
                  </div>
                </div>

                <!-- Page Body -->
                <div class="row row-sm">
                    {{ template "components/_alert" . }}

                  <div class="col-12">
                    <div class="card custom-card">
                      <div class="card-header justify-content-between">
                        <div class="card-title">Edit User</div>
                      </div>

                      <form
                        action="/user/edit/{{ .User.ID }}"
                        method="post"
                        enctype="multipart/form-data"
                      >
                        <div class="card-body pb-0 row">
                          <div class="col-md-6 col-sm-12 mb-3">
                            <label for="" class="form-label"> Nama </label>
                            <input
                              type="text"
                              class="form-control"
                              name="name"
                              required
                              placeholder="John Doe"
                              value="{{ .User.Name }}"
                            />
                          </div>
                          <div class="col-md-6 col-sm-12 mb-3">
                            <label for="" class="form-label"> Email </label>
                            <input
                              type="email"
                              class="form-control"
                              name="email"
                              required
                              placeholder="example@gmail.com"
                              value="{{ .User.Email }}"
                            />
                          </div>
                          <div class="col-md-6 col-sm-12 mb-3">
                            <label for="" class="form-label"> No Telp </label>
                            <input
                              type="text"
                              class="form-control"
                              name="phone"
                              required
                              placeholder="8635xxxx"
                              value="{{ .User.Phone }}"
                            />
                          </div>
                          <div class="col-md-6 col-sm-12 mb-3">
                            <label for="" class="form-label"> Password </label>
                            <div
                              class="input-group mb-3"
                              id="show_hide_password"
                            >
                              <input
                                type="password"
                                name="password"
                                class="form-control"
                                aria-describedby="basic-addon2"
                                
                              />
                              <span class="input-group-text" id="basic-addon2">
                                <a href="" ajax="off">
                                  <i
                                    class="ri-eye-line ms-2 fs-14 align-middle d-inline-block"
                                  ></i>
                                </a>
                              </span>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-3">
                            <label for="" class="form-label"> Role </label>
                            <select
                              name="role"
                              class="form-select"
                              onchange="showHideBranch(this)"
                              required
                            >
                              <option value="kasir" {{ if eq .User.Role "kasir" }} selected {{ end }}>
                                Kasir
                              </option>
                              <option value="admin_cabang" {{ if eq .User.Role "admin_cabang" }} selected {{ end }}>
                                Admin Cabang
                              </option>
                              <option value="finance" {{ if eq .User.Role "finance" }} selected {{ end }}>
                                Finance
                              </option>
                              <option value="admin" {{ if eq .User.Role "admin" }} selected {{ end }}>
                                Super admin
                              </option>
                            </select>
                          </div>
                          <div
                            class="col-md-6 col-sm-12 mb-3"
                            id="branch_id_container"
                          >
                            {{ $branchSelectedID := .User.Branch.ID }}
                            <label for="" class="form-label"> Branch </label>
                            <select
                              name="branch_id"
                              class="form-select"
                              id="branch_id"
                              required
                            >
                              <option value="">-- Pilih Branch --</option>
                              {{ range $index, $branch := .Branches }}
                              <option value="{{ $branch.ID }}" {{ if eq $branchSelectedID $branch.ID }} selected {{end}}>
                                {{ $branch.Name }} 
                              </option>
                              {{ end }}
                            </select>
                          </div>
                          <div class="col-md-12 col-sm-12 mb-3">
                            <label for="" class="form-label">
                              Tanda Tangan
                            </label>
                            <input
                              type="file"
                              class="form-control"
                              name="signature"
                            />
                          </div>
                          <div class="col-12 mb-3 text-end">
                            <button type="submit" class="btn btn-success">
                              Simpan
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- APP-CONTENT END -->
      </div>

      {{template "_copyright" .}}
    </div>

    {{template "_footer" .}}

    <script>
      var branch_id_container = document.querySelector("#branch_id_container");
      var branch_id = document.querySelector("#branch_id");

      function showHideBranch(el) {
        const val = el.value;
        if (val != "admin") {
          branch_id_container.classList.remove("d-none");
          branch_id.setAttribute("required", "");
        } else {
          branch_id_container.classList.add("d-none");
          branch_id.removeAttribute("required");
        }
      }

      $(document).ready(function () {
        $("#show_hide_password a").on("click", function (event) {
          event.preventDefault();
          if ($("#show_hide_password input").attr("type") == "text") {
            console.log("text");
            $("#show_hide_password input").attr("type", "password");
            $("#show_hide_password i").removeClass("ri-eye-off-line");

            $("#show_hide_password i").addClass("ri-eye-line");
          } else if (
            $("#show_hide_password input").attr("type") == "password"
          ) {
            $("#show_hide_password input").attr("type", "text");
            $("#show_hide_password i").removeClass("ri-eye-line");
            $("#show_hide_password i").addClass("ri-eye-off-line");
          }
        });
      });
    </script>
  </body>
</html>
{{end}}
