{{define "user/index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "_header" .}}
  </head>
  <body class="app sidebar-mini ltr light-mode">
    {{template "_switcher" .}}

    <!-- PAGE -->
    <div class="page">
      <div class="page-main">
        <!-- APP-HEADER / Topbar -->
        {{template "_topbar" .}}
        <!-- /APP-HEADER -->

        <!--APP-SIDEBAR-->
        {{template "_sidebar" .}}
        <!--/APP-SIDEBAR-->

        <!-- APP-CONTENT OPEN -->
        <div id="base-content" style="padding-top: 20px">
          <div class="main-content app-content mt-0">
            <div class="side-app">
              <div class="container-fluid">
                <!-- Page Header -->
                <div
                  class="d-md-flex d-block align-items-center justify-content-between page-header-breadcrumb mb-4"
                >
                  <div>
                    <h2 class="page-title fs-24 mb-1">User</h2>
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item">
                        <a href="javascript:void(0)">User</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Data
                      </li>
                    </ol>
                  </div>
                  <div class="d-flex">
                    <div class="justify-content-center">
                      <button
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#modalFilter"
                        class="btn btn-white btn-icon-text my-2 me-2 d-inline-flex align-items-center"
                      >
                        <i class="fe fe-filter me-2 fs-14"></i>
                        Filter
                      </button>
                      <a
                        href="/user/create"
                        class="btn btn-primary my-2 btn-icon-text d-inline-flex align-items-center"
                      >
                        <i class="ri-add-line me-2 fs-14"></i>
                        Create Data
                      </a>
                    </div>
                  </div>
                </div>

                <!-- Page Body -->
                <div class="row row-sm">
                  {{ template "components/_alert" . }}

                  <div class="col-12">
                    <div class="card custom-card">
                      <div class="card-header justify-content-between">
                        <div class="card-title">Data User</div>
                        <div>
                          <form
                            action=""
                            method="get"
                            onsubmit="globalSubmitForm(this)"
                          >
                            <input
                              type="search"
                              class="form-control"
                              placeholder="Search.."
                              name="search_key"
                            />
                            <input type="hidden" name="branch_id" />
                            <input type="hidden" name="role" />
                          </form>
                        </div>
                      </div>

                      <div class="card-body">
                        <div class="table-responsive">
                          <table
                            class="table text-nowrap table-hover border table-striped"
                          >
                            <thead>
                              <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Role</th>
                                <th scope="col" class="text-center">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              {{ range $index, $user := .Users }}
                              <tr>
                                <td class="text-center">{{$index}}</td>
                                <td>
                                  <b> {{$user.Name}} </b>
                                </td>
                                <td>{{$user.Email}}</td>
                                <td>{{$user.Phone}}</td>
                                <td>{{$user.Branch.Name}}</td>
                                <td class="text-center">
                                  {{ if eq $user.Role "admin" }}
                                  <span class="badge bg-primary-gradient">
                                    ADMIN
                                  </span>
                                  {{ else if eq $user.Role "admin_cabang" }}
                                  <span class="badge bg-info-gradient">
                                    ADMIN CABANG
                                  </span>
                                  {{ else if eq $user.Role "finance" }}
                                  <span class="badge bg-success-gradient">
                                    FINANCE
                                  </span>
                                  {{ else if eq $user.Role "kasir" }}
                                  <span class="badge bg-warning-gradient">
                                    KASIR
                                  </span>
                                  {{end}}
                                </td>
                                <td class="text-center">
                                  <a
                                    href="/user/edit/{{$user.ID}}"
                                    class="btn btn-info btn-wave waves-effect waves-light"
                                  >
                                    <i
                                      class="ri-pencil-line align-middle d-inline-block"
                                    ></i>
                                  </a>
                                  <a
                                    href="/user/delete/{{$user.ID}}"
                                    class="btn btn-danger btn-wave waves-effect waves-light btn-delete"
                                    onclick="return confirm('Yakin?')"
                                  >
                                    <i
                                      class="ri-delete-bin-line align-middle d-inline-block"
                                    ></i>
                                  </a>
                                </td>
                              </tr>
                              {{end}}

                              <!-- <tr>
                                <td class="text-center">1</td>
                                <td>
                                  <b> Admin </b>
                                </td>
                                <td>admin@gmail.com</td>
                                <td>0816253634</td>
                                <td>ITC BSD</td>
                                <td class="text-center">
                                  <span class="badge bg-primary-gradient">
                                    ADMIN
                                  </span>
                                  <span class="badge bg-info-gradient">
                                    ADMIN CABANG
                                  </span>
                                  <span class="badge bg-success-gradient">
                                    FINANCE
                                  </span>
                                  <span class="badge bg-warning-gradient">
                                    KASIR
                                  </span>
                                </td>
                                <td class="text-center">
                                  <a
                                    href="/user/edit/1"
                                    class="btn btn-info btn-wave waves-effect waves-light"
                                  >
                                    <i
                                      class="ri-pencil-line align-middle d-inline-block"
                                    ></i>
                                  </a>
                                  <a
                                    href="/user/delete/1"
                                    class="btn btn-danger btn-wave waves-effect waves-light btn-delete"
                                  >
                                    <i
                                      class="ri-delete-bin-line align-middle d-inline-block"
                                    ></i>
                                  </a>
                                </td>
                              </tr> -->
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="card-footer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- APP-CONTENT END -->
      </div>

      {{template "_copyright" .}}
    </div>

    {{template "_footer" .}}
  </body>
</html>
{{end}}
